.navbar-default {
    border-color: #1C8595;
    font-family: Coiny;
    font-size: large;
}

.navbar-header {
    font-family: Coiny;
    font-size: 20px;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 25px;
}

.jumbotron{
    background-color: gainsboro;
    border-color: #1C8595;
    font-family: Coiny;
    padding-bottom: 0px;
    padding-top: 0px;
}

.jumbo_title {
    color: #1C8595;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top{
    background-color: gainsboro;
    border-color: #1C8595;
    background-image: none;
}

.navbar{
    margin-bottom: 0px;
}

body{
    font-family: Roboto;
}
a {
    font-family: Coiny;
}

.thumbnail{
    border-color: #1C8595;
}

.button_create {
    /*padding-top: 10px;*/
    padding-bottom: 10px;
}